{% trans_default_domain 'trexima_european_cv' %}
{% form_theme form '@TreximaEuropeanCv/form/_bootstrap_4_layout.html.twig' %}

<div class="row">
    <div class="col-md-16">
        {{ form_label(form.additionalInformations) }}
        <p>{{ 'trexima_european_cv.form_sub_label.additional_informations'|trans }}</p>
        {{ form_errors(form.additionalInformations) }}
        {{ form_widget(form.additionalInformations) }}
        {{ form_help(form.additionalInformations) }}
    </div>
</div>