{% trans_default_domain 'trexima_european_cv' %}
{% form_theme form '@TreximaEuropeanCv/form/_bootstrap_4_layout.html.twig' %}

<div class="row">
    <div class="col-md-16">
        {{ form_row(form.sex) }}
        {{ form_row(form.photo) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.titlesBefore) }}
        {{ form_row(form.titlesAfter) }}
        {{ form_row(form.nationalities) }}
        {{ form_row(form.year) }}
        {{ form_row(form.month) }}
        {{ form_row(form.day) }}
        {{ form_row(form.email) }}

        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-8">
                {% include '@TreximaEuropeanCv/widget/phone.html.twig' %}
            </div>
            <div class="col-md"></div>
        </div>

        {{ form_row(form.address) }}
        
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-8">
                {% include '@TreximaEuropeanCv/widget/personal_website.html.twig' %}
            </div>
            <div class="col-md"></div>
        </div>

        {{ form_row(form.description) }}
    </div>
</div>